.App {
  text-align: center;
}

.Main {
  height: 100vh !important;
  width: 100vw !important;
}

.jumboHeader {
  color: #3ccfe3;
  margin-top: 1em;
  margin-bottom: 0.1em;
  font-size: 9vw;
  font-weight: 700;
  width: 20%;
  animation-name: fade;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.subHeader {
  color: #3ccfe3;
  max-width: 550px;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  font-weight: 700;
  line-height: 100%;
  margin: 0 auto;
  animation-name: fade;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.aboutText {
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
  padding: 5px;

}

.resume {
  text-decoration: none;
  color: white;
}

.certs {
  padding-top: 20px;
}

.cardBody {
  position: fixed;
  overflow-y: auto;
  height: 70vh;
  width: 50vw;
  transform: translate(0%,0%);
  padding: 25px;
  

  background: #3CCFE3;
  background: -moz-linear-gradient(45deg, #3CCFE3 0%, #0D7F9F 54%, #000000 100%);
  background: -webkit-linear-gradient(45deg, #3CCFE3 0%, #0D7F9F 54%, #000000 100%);
  background: linear-gradient(45deg, #3CCFE3 0%, #0D7F9F 54%, #000000 100%);
  border-radius: 5px;
}

.img {
    width: 30vw;
    padding-bottom: 15px;
    padding-right: 15px;
}

/* Scrollbar */
.cardBody::-webkit-scrollbar-track {
  padding: 2px 0;
  border-radius: 5px;
  background-color: #3CCFE3;
}

.cardBody::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

.cardBody::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #BeB8B1;
}

@keyframes fade {
  from {opacity: 0.0}
  to {opacity: 1}
}

