.App {
  text-align: center;
}

.MainTest {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.about p {
  font-size: 20px;
  width: 260%;
  
  
}

.icons {
  width: 260%;
}

.icons p {
  font-size: 20px;
}

.aboutHeader {
  width: 260%;
}
